@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .flood-map-marker {
        background: transparent !important;
        border: none !important;
    }
    .flood-map-marker-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 2em;
    }
}
